#topPane{
    -fx-alignment: right;
    -fx-hgap: 20;
}
#title{
    -fx-border-insets: 0,100,0,0;
}
#orderIdColumn .column-header, #orderIdColumn .table-cell {
    -fx-pref-width: 130px;
}

#productListColumn .column-header, #productListColumn .table-cell {
    -fx-pref-width: 555px;
}

#paymentDateColumn .column-header, #paymentDateColumn .table-cell {
    -fx-pref-width: 200px;
}

#totalAmountColumn .column-header, #totalAmountColumn .table-cell {
    -fx-pref-width: 180px;
}

#actionColumn .column-header, #actionColumn .table-cell {
    -fx-pref-width: 130px;
}
.container {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
}

.text-field {
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

.status {
    -fx-font-size: 14px;
    -fx-text-fill: #ff0000; /* Màu đỏ */
}

.button {
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
    -fx-background-color: #007bff; /* Màu xanh dương */
    -fx-text-fill: white; /* Màu chữ trắng */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
