#topPane{
    -fx-alignment: right;
    -fx-hgap: 20;
}
#title{
    -fx-border-insets: 0,100,0,0;
}
#orderIdColumn .column-header, #orderIdColumn .table-cell {
    -fx-pref-width: 130px;
}

#productListColumn .column-header, #productListColumn .table-cell {
    -fx-pref-width: 555px;
}

#paymentDateColumn .column-header, #paymentDateColumn .table-cell {
    -fx-pref-width: 200px;
}

#totalAmountColumn .column-header, #totalAmountColumn .table-cell {
    -fx-pref-width: 180px;
}

#actionColumn .column-header, #actionColumn .table-cell {
    -fx-pref-width: 130px;
}